 /* Your Website Styles */
  body {
    background: url("../img/cartographer.png");
  }
  .wrapper{
    margin: 138px auto 60px auto;
    width: 80%;
    max-width: 788px;
    min-width: 356px;
    transition: all .25s;
 }
nav {
    background: teal;
    min-width: 283px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    line-height: .6em;  /*5px*/
    /*border-top: 12px solid ;*/
    border-bottom: 12px solid ;
    transition: all .2s;
}
nav img{
    width: 177px;
}
nav li:nth-child(1n+2) a{
    border-radius: 50px;
    padding: 22px 10px;
}

ul,
li{
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
}
ul{
    width: 100%;
    margin: 3px auto;
    padding: 0;
    list-style: none;
    transition: all 1s;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

li{
    margin: 2px 18px;
    min-height: 71px;
    vertical-align: middle;
    align-items: center;
}
li a{
        font-style: normal;
}
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-style: italic;
}

  p {
    text-align: center;
    font-family: "Droid Serif", serif;
    color: teal;
    font-size: 50px;
    margin-top: 10px;
  }
  
  h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    
    font-family: "Droid Serif", serif;
    font-size: 30px;
    color: turquoise;
  }
  
  h2 + p {
   
    text-align: center;
    font-family: "Gafata", serif;
    color: teal;
    font-size: 25px;
   
  }
  
  
  
  /* Gallery Stying */
  .gallery .control-button {
    color: #ccc;
    color: teal;
  }
  
  .gallery .control-button:hover {
    color: white;
    color: teal;
  }
  
  /*
    Theme controls how everything looks in Gallery CSS.
  */
  
  
  .gallery {
    position: relative;
  }
  .gallery .item {
    height: 600px;
    overflow: hidden;
    text-align: center;
    border-top: 10px double teal;
  }
  
  .gallery .controls {
    position: absolute;
    bottom: -120px;
    width: 100%;
    text-align: center;
  
  }
  .gallery .controls img {
    border: 2px solid;
    color: teal;
    border-radius: 120px;
    width: 45px;
    margin:10px ;
  }
  .gallery .control-button {
    display: inline-block;
    margin: 0 .02em;
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    transition: color .1s;
  }
  
  img {
    max-width: 150%;
  }
  .symbol {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
  
  /* Media Queries */
  
  
  @media screen and (max-width: 665px){
  
  .gallery .item {
    height: 350px;
  }
    

  }
  
  @media screen and (max-width: 570px){
  
    .gallery .item {
    height: 300px;
    }
  
  p {
    margin-bottom: 60px;
    margin-top: 10px;
    font-size: 20px;
  }
  h2 {
  
    font-size: 25px;
   
  }
  
  h2 + p {
   
  
    font-size: 15px;
   
  
  }
  @media screen and (max-width: 485px){
  
    .gallery .item {
    height: 250px;
    }
  
  }
  @media screen and (max-width: 406px){
   .gallery .item {
    height: 225px;
  }
  
   .gallery .controls {
    
    bottom: -100px;
    width: 100%;
  }
    .gallery .controls img {
    border: 2px solid rgb(107,184,198);
    border-radius: 75px;
    width: 40px;
    margin: 0 5px;
  }
    
  
  }
@media screen and (max-width: 375px){
   .gallery .item {
      height: 200px;
    }
}







  
  
